---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Tags from "./tags.astro";

export interface Props {
  talk: CollectionEntry<"talks">;
}

const { talk } = Astro.props;
---

<section class="p-4 md:w-1/2 lg:w-1/3">
  <div
    class="h-full border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden p-6"
  >
    <h3
      class="title-font text-xl font-bold text-purple-600 dark:text-purple-300"
    >
      {talk.data.title}
    </h3>

    <p class="mt-2 text-sm text-gray-700 dark:text-gray-200 font-semibold">
      {talk.data.event}
    </p>

    <div
      class="mt-3 flex items-center flex-wrap gap-3 text-xs text-gray-500 dark:text-gray-400"
    >
      <span class="inline-flex items-center">
        <Icon class="w-4 h-4 mr-1" name="mdi:calendar" />
        {talk.data.eventDate.toDateString()}
      </span>
      <span class="inline-flex items-center">
        <Icon class="w-4 h-4 mr-1" name="mdi:map-marker" />
        {talk.data.location}
      </span>
    </div>

    <p class="mt-3 text-sm text-gray-600 dark:text-gray-300">
      {talk.data.description}
    </p>

    <div class="mt-5 flex flex-wrap items-center gap-3">
      {
        talk.data.slidesUrl && (
          <a
            href={talk.data.slidesUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center px-4 py-2 rounded-md bg-purple-100 hover:bg-pink-200 text-purple-800 dark:bg-purple-900 dark:hover:bg-pink-900 dark:text-purple-100 font-bold text-base"
          >
            <Icon class="w-5 h-5 mr-2" name="mdi:file-document-outline" />
            View Slides
          </a>
        )
      }
      {
        talk.data.recordingUrl && (
          <a
            href={talk.data.recordingUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center px-4 py-2 rounded-md bg-purple-600 hover:bg-pink-600 text-white dark:bg-purple-300 dark:hover:bg-pink-300 dark:text-black font-bold text-base"
          >
            <Icon class="w-5 h-5 mr-2" name="mdi:video-outline" />
            Watch Recording
          </a>
        )
      }
    </div>

    <Tags tags={talk.data.tags} />
  </div>
</section>
